<main>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Artists</h1>
        </div>
      </div>
    </div>
    <div class="artists">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="<%- include ./partials/_tito %>"></a>Tito</h2>
          </div>
          <div class="col">
            <h2><a href="<%- include ./partials/_moonchild %>"></a>Moonchild</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="<%- include ./partials/_simz %>"></a>Simz</h2>
          </div>
          <div class="col">
            <h2><a href="<%- include ./partials/_sam %>"></a>Hokororo</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="<%- include ./partials/_essu %>"></a>Essu</h2>
          </div>
          <div class="col">
            <h2><a href="<%- include ./partials/_emma %>"></a>Emma</h2>
          </div>
        </div>
      </div>
    </div>
</main>
